@{
    ViewData["Title"] = "Home Page";
    
}
<style>
    div.display-4{
        color:aqua;
    }
    h1.display-4 {
        color: #FFFFE0;
    }
    p.display-4 {
        color: #FFFFE0;
        font-size:20px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="display-4">Enjoy your visit</p>
</div>
