/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background: #ece3e3;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/* resets */
*,
*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Grid layout */
.grid {
    display: grid;
    grid-auto-columns: 1fr 200px;
}

.content {
    grid-column: 1;
}

.sidebar {
    grid-column: 2;
    margin: 5px;
    padding: 5px;
}

.grid > * {
    border: 0px; /* demo only */
}

/* Product Grid */


h1 {
    font-weight: 500;
    font-size: 20px
}

ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%;
    /* should match li left margin */
}

    ul.rig li {
        display: inline-block;
        padding: 5px;
        margin: 0 0 2.5% 2.5%;
        background: #fff;
        border: 1px solid #ddd;
        font-size: 16px;
        font-size: 1rem;
        vertical-align: top;
        box-shadow: 0 0 0px #000000;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

        ul.rig li img {
            max-width: 80%;
            height: auto;
            margin: 0 0 10px;
        }

        ul.rig li h3 {
            margin: 0 0 10px;
        }

        ul.rig li p {
            font-size: 1.0em;
            line-height: 1.5em;
            color: #000000;
        }


    /* class for 2 columns */

    ul.rig.columns-2 li {
        width: 47.5%;
        /* this value + 2.5 should = 50% */
    }


    /* class for 3 columns */

    ul.rig.columns-3 li {
        width: 30.83%;
        /* this value + 2.5 should = 33% */
    }


    /* class for 4 columns */

    ul.rig.columns-4 li {
        width: 22.5%;
        /* this value + 2.5 should = 25% */
    }

@media (max-width: 680px) {
    ul.grid-nav li {
        display: inline-block;
        margin: 0 0 5px;
    }

        ul.grid-nav li a {
            display: inline-block;
            margin: 0 0 5px;
        }

    ul.rig {
        margin-left: 0;
    }

        ul.rig li {
            width: 100% !important;
            /* over-ride all li styles */
            margin: 0 0 10px;
        }
}
