@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShenkinStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapnew.min.css" />
   
    <link rel="stylesheet" href="~/css/mycss.css" />
  
</head>
<body>
    <partial name="AccsView" /> @* It will choose the admin view or user view*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- Cart Area -->
    <div class="cart-area">
        <a href="@Url.Action("Index", "ShoppingCart")" id="rightSideCart"><img src="/Photos/bag.svg" alt="cart" width="20" height="20"></a>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ShenkinStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
 
    @RenderSection("Scripts", required: false)
</body>
</html>
