
@{
    
    if (TempData.Peek("UserName") == null)
    {
        <ul class="nav navbar-nav navbar-right">


            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Hello @TempData.Peek("UserName") </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>
            </li>
        </ul>

    }

}